@import "~bootstrap/dist/css/bootstrap.css";
.tab-main{
  border: 2px solid black;
  border-radius: 5px solid;
}
th{
  background-color: rgba(249, 246, 231, 1);
  height:60px;
  border: 2px solid black;
  width:170px;
  text-align: center;
}
td{
  height:60px;
  border: 2px solid black;
  width:190px;
  text-align: center;
}
.icon1{
  margin-right:20px;
  font-weight: bold;
}
.icon{
  font-weight: bold;
}
.btn-add{
  margin-top:20px;
  float:right;
  background-color: rgba(167, 113, 126, 1);
  width:140px;
  border-radius: 2px;
  height:40px;
}
.modal-body{
  display:flex;
  margin: 0 auto;
}
.modal-title{
  text-align: center;
}
.pull-left{
  text-align: center;
}
h4{
  text-align: center;
}
.pop_right p{
  margin-left: 100px;
  margin-bottom: 18px;
}
.pop_left p{
margin:0 0 25px;
}
.btn2{
  text-align: center;
  margin-bottom:30px ;
}
input{
  width:300px;
}
.status{
  margin-top: 6px;}
.btn-can{
  margin-right: 30px;
  width:150px;
  height:40px;
  background-color: rgba(167, 113, 126, 1);
  border: none;
  border-radius: 5px;
}
.btn-save{
  width:150px;
  height:40px;
  background-color: rgba(247, 234, 217, 1);
  border: none;
  border-radius: 5px;
}
.btn-choose{
  margin-left: 100px;
  margin-top:7px;

}

