@import "~bootstrap/dist/css/bootstrap.css";
.tab-main{
  border: 2px solid black;
  border-radius: 5px solid;
}
th{
  background-color: rgba(249, 246, 231, 1);
  height:60px;
  border: 2px solid black;
  width:170px;
  text-align: center;
}
td{
  height:60px;
  border: 2px solid black;
  width:190px;
  text-align: center;
}
.icon1{
  margin-right:20px;
  font-weight: bold;
}
.icon{
  font-weight: bold;
}
.btn-add{
  margin-top:20px;
  float:right;
  background-color: rgba(167, 113, 126, 1);
  width:140px;
  border-radius: 2px;
  height:40px;
}

