<tabset [justified]="true" class="container">
  <tab heading="Comapny" class="container1"> 
    <div class="content-main">
      <DIV class="content">
        <p>Name</p>
        <p>Address</p>
        <p>Infomation</p>
      </DIV>
      <div class="content_right">
        <p><input type="text" /></p>
        <p><input type="text" /></p>
        <p><input type="text" /></p>
      </div>
    </div>
  </tab>
  <tab heading="Community" class="container1"
    ><div class="content-main">
      <DIV class="content">
        <p>Our Story</p>
        <p>Size Guide</p>
        <p>Refund Policy</p>
      </DIV>
      <div class="content_right">
        <p><input type="text" /></p>
        <p><input type="text" /></p>
        <p><input type="text" /></p>
      </div></div
  ></tab>
  <tab heading="SAY HEY!" class="container1"
    ><div class="content-main">
      <DIV class="content">
        <p>Call Us</p>
        <p>Time</p>
        <p>Email</p>
        <p>Text Us</p>
      </DIV>
      <div class="content_right">
        <p><input type="text" /></p>
        <p><input type="text" /></p>
        <p><input type="text" /></p>
        <p><input type="text" /></p>
      </div></div
  ></tab>
</tabset>
