.sidebar{
  background-color:rgba(167, 113, 126, 1);
}
.nav-link{
  color:white;
}
svg{
  color:black;
}
.bi{
  margin-right: 20px;
}
.fs-5{
  text-align: center;
}
.fun_1{
  text-decoration: none;
  margin-left: 30px;
}
.submenu-text{
  text-decoration: none;
  color: white;
}
.change-color {
  cursor: pointer;
}
.color-change {
  color:black;
}
.d-flex li a:hover {
background-color: rgba(249, 246, 231, 1);
color: black;
}
.ms-1:focus{
  background-color: rgba(249, 246, 231, 1);
color: black;
}
.d-flex a:focus{
  color: black;
  background-color: rgba(249, 246, 231, 1);
}
